html {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 100%;
  transition: font-size $animOnHover;

  @media (max-width: 1920px) {
    font-size: 12px;
  }
}

body {
  background: $bgColor;
  margin: 0;
}

.content-container {
  $containerGap: 38px;
  margin-left: $containerGap;
  margin-right: $containerGap;
}

