// Colors
$bgColor:  #f0f6fc;
$mainLightColor: #fff;
$mainDarkColor: #000;

// Buttons colors
$lightColor: #fff;
$darkerColor: rgba(203, 215, 228, 0.4);
$darkColor: #000;
$simpleOrangeColor: #ff7439;
$activeOrangeColor: #f16e36;
$disabledOrangeColor: rgba(255, 116, 57, 0.5);
$shadowColor: rgba(213, 221, 230, 0.6);

// Global
$smallElementsHeight: 85px;
$mainBorderRadius: 10px;
$componentsGapY: 10px;

// Animation
$animOnHover: 0.2s;

// Shadows
$componentsBoxShadow: 0px 10px 40px rgba(128, 158, 191, 0.2);

// Sidebar
$sidebarWidth: 177px;

// Main
$mainGapX: 20px;
$mainContentGapLeft: 32px;